* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Arial', sans-serif;
    font-style: normal;
}

.wrap {
    width: 1180px;
    margin: 0 auto;
}

.center {
    padding: 0 calc(50% - 1180px / 2);
}

.productName {
    color: white;
    background-color: #445161;
    padding-top: 23px;
    padding-bottom: 23px;
}

.productName_wrap {
    display: flex;
    justify-content: space-between;
}

.productName_title {
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 30px;
}

.productName_list {
    list-style: none;
    line-height: 35px;
    font-weight: 400;
    font-size: 20px;
}

.buyProduct_listItem {

}

.productName_img {
    width: 469px;
    height: 214px;
    align-self: center;
}

.aboutProduct {
    padding-top: 35px;
    padding-bottom: 35px;
}

.aboutProduct_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutProduct_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #445161;

    margin-bottom: 20px;
}

.aboutProduct_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #333333;

    margin-right: 75px;
    margin-bottom: 10px;
}

.aboutProduct_img {
    width: 430px;
    height: 245px;
    left: 792px;
    top: 45px;

    background: #445161;

    align-self: center;
}

.productPluses {
    background: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 40px;
}

.productPluses_title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #445161;

    margin-bottom: 20px;
}

.productPluses_list {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #333333;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productPluses_listItem {
    width: 568px;
    margin-bottom: 27px;
}

.screenshots {
    padding-top: 20px;
    padding-bottom: 20px;
}

.screenshots_title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #445161;

    margin-bottom: 35px;
}

.screenshots_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.screenshots_blockItem {
    width: 565px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.screenshots_img {
    width: 200px;
    height: 150px;
    left: 1px;
    top: 2px;

    background: #445161;

    margin-right: 15px;
}

.screenshots_blockTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #445161;
}

.screenshots_blockDesc {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #445161;

    margin-bottom: 15px;
}

.screenshots_blockText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #333333;
}

.reviews {
    background: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reviews_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #445161;

    text-align: center;
    margin-bottom: 35px;
}

.reviews_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews_blockItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.reviews_img {
    width: 63.46px;
    height: 63.46px;
    left: 5.69px;
    top: 3.69px;

    background: #445161;
    margin-right: 15px;
    border-radius: 45px;
    align-self: center;
}

.reviews_textBlock {
    width: 483px;
    height: 121px;
    left: 85px;
    top: 1px;

    background: #EBEBEB;
    border-radius: 5px;
}

.reviews_text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #000000;
    margin: 12px;
}

.reviews_username {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #989898;
    margin: 12px;
}

.buyProduct {
    padding-top: 20px;
    padding-bottom: 20px;
}

.buyProduct_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #445161;
    text-align: center;
    margin-bottom: 35px;
}

.buyProduct_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 70px;
}

.buyProduct_blockItem {
    background-color: #445161;
    border-radius: 5px;
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.buyProduct_blockTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buyProduct_price {
    background: #FFFFFF;
    border: 2px solid #445162;
    text-align: center;

    font-weight: 400;
    font-size: 40px;
    line-height: 30px;

    color: #445162;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.buyProduct_list {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    list-style: none;
    color: #FFFFFF;
    margin: 0 15px;
}

.buyProduct_btn {
    background: #FFFFFF;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;

    color: #445161;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    border: none;
}

.contacts {
    background-color: #445161;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacts_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;

    text-align: center;
    margin-bottom: 35px;
}

.contacts_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 150px;
}

.contacts_form {
    width: 503px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts_input {
    background: #FFFFFF;
    width: 503px;
    height: 38px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.contacts_inputMessage {
    font-family: 'Arial', sans-serif;
    font-style: normal;

    background: #FFFFFF;
    width: 503px;
    height: 168px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.contacts_formBtn {
    background: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    border: none;
    border-radius: 5px;

    color: #445162;
    justify-self: center;
    padding: 5px 30px;
}

.contacts_links {
    display: flex;
    flex-direction: column;
}

.contacts_linksItem {
    margin-bottom: 20px;
}

.contacts_infoImg {
    width: 15px;
    height: 15px;
}

.contacts_info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.contacts_imgLink {
    width: 45px;
    height: 45px;
    margin-top: 20px;
}
